.tours {
  padding: 0 50px;

  &-row {
    .content-col {
      width: 40%;

      h1 {
        font-size: 6vmin;
        color: var(--secondary-color);
      }
      p {
        margin: 30px 0;
        padding: 0;
      }
      .line {
        margin-left: 0;
      }
    }
    .image-col {
      width: 50%;
    }
    &-col{
        .image-gallery{
            display: flex;
            flex-wrap: wrap;

            img{
                width: 320px;
                height: 250px;
                margin: 10px;

            }
        }
    }
  }
}
